[assignment]
slug = "{{ assignment_slug }}"
name = "{{ assignment_name }}"
author = "{{ author }}"
description = "{{ description }}"
version = "0.1.0"
status = "draft"

[classification]
language = "cpp"
difficulty = "{{ difficulty }}"
topics = []

[template]
slug = "cpp-makefile"
version = "0.1"

[grader]
visibility = "after_due_date"
stdout_visibility = "after_due_date"

[grader.dependencies]
system = ["make", "g++", "valgrind"]
