# {{ assignment_name }}
# Starter file -- implement the functions below.
# Do not rename the functions or change their signatures.


# FILL IN: replace with real function signatures and docstrings.
def my_function(arg):
    """TODO: describe what this function does."""
    raise NotImplementedError
