// Staff reference solution for {{ assignment_name }}.
// FILL IN: implement the full interface.

#pragma once

class {{ artifact_name | capitalize }} {
public:
    {{ artifact_name | capitalize }}() = default;

    // FILL IN: public interface

    // Const getters:
    // int get_value() const;

    // Mutators:
    // void set_value(int v);

private:
    // FILL IN: data members
};
