"""Reference solution for {{ assignment_name }}."""

import sys


def main() -> None:
    # FILL IN: reference solution.
    for line in sys.stdin:
        pass


if __name__ == "__main__":
    main()
